<%=@recipe.name%>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>

<form  action="/recipes/<%= @recipe.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <input type="text" name="ingredients">
  <input type="text" name="cook_time">

  <button type="submit" name="submit">submit</button>
</form>
