<h1>Create Recipe</h1>

<form method="POST" action="/recipes">
Name:<input type="text" name="name"><br><br>
Ingredients:<input type="text" name="ingredients"><br><br>
Cook time:<input type="text" name="cook_time"><br>
<input type="submit" name="submit">

  
</form>