<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form method="POST" action="/recipes">
  <input type="text" value="recipe_name" name="name">
  <input type="text" value="ingredients" name="ingredients">
  <input type="text" value="cook time" name="cook_time">
  <input type="submit" value="submit">
</form>
</body>
</html>