<h2>Add a recipe:</h2>
<form method="POST" action="/recipes">
  <h4>Recipe:</h4>
  <p><input type="text" name="name" id="name"</p>
  <h4>List of ingredients:</h4>
  <p><input type="text" name="ingredients" id="ingredients"></p>
  <h4>Cook time:</h4>
  <p><input type="text" name="cook_time" id="cook_time"></p>
  <p><input type="submit" value="submit"></p>
</form>
