<form method="POST" action="/recipes">
<p>Name:</p>
<input type="text" id="recipe_name" name="name">
<p>Ingredients:</p>
<input type="text" id="recipe_ingredients" name="ingredients">
<p>Cook Time:</p>
<input type="text" id="recipe_cook_time" name="cook_time">
<button name="submit" type="submit" value="submit">Submit</button>
</form> 