<%=@recipe.name%>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">

<button type="submit" name="submit">delete</button>
</form>
